Checks: >
  *,
  -google-runtime-int,
  -fuchsia-trailing-return,
  -hicpp-vararg,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -bugprone-easily-swappable-parameters,
  -llvmlibc-*, 
  -altera-*,
  -modernize-use-trailing-return-type,
HeaderFilterRegex: 'cpp/*.h'
WarningsAsErrors: '*'

